de.xwic.appkit.core/resources_test/editor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editor" type="editorType"/>
  <xs:complexType name="styleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="htmleditorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property"/>
        <xs:attribute type="xs:string" name="style"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="labelType" name="label"/>
      <xs:element type="entityType" name="entity"/>
      <xs:element type="textType" name="text"/>
      <xs:element type="plComboType" name="plCombo"/>
      <xs:element type="dateType" name="date"/>
      <xs:element type="plCheckType" name="plCheck"/>
      <xs:element type="numberType" name="number"/>
      <xs:element type="yesNoRadioType" name="yesNoRadio"/>
      <xs:element type="htmleditorType" name="htmleditor"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:string" name="layout" use="optional"/>
    <xs:attribute type="xs:string" name="cols" use="optional"/>
    <xs:attribute type="xs:string" name="template" use="optional"/>
    <xs:attribute type="xs:string" name="colWidth" use="optional"/>
  </xs:complexType>
  <xs:complexType name="templatesType">
    <xs:sequence>
      <xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="numberType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="format" use="optional"/>
        <xs:attribute type="xs:string" name="currencySymbolPlacement" use="optional"/>
        <xs:attribute type="xs:string" name="currencySymbol" use="optional"/>
        <xs:attribute type="xs:string" name="hideWhen" use="optional"/>
        <xs:attribute type="xs:string" name="template" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="entityType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="mode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="plComboType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="hideWhen" use="optional"/>
        <xs:attribute type="xs:string" name="template" use="optional"/>
        <xs:attribute type="xs:string" name="format" use="optional"/>
        <xs:attribute type="xs:string" name="currencySymbolPlacement" use="optional"/>
        <xs:attribute type="xs:string" name="currencySymbol" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="labelType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="mode" use="optional"/>
        <xs:attribute type="xs:string" name="hideWhen" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="layoutType">
    <xs:sequence>
      <xs:element type="tabType" name="tab" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The root node of an editor is always a tab...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="plCheckType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property"/>
        <xs:attribute type="xs:string" name="cols"/>
        <xs:attribute type="xs:string" name="template"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="textType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="template" use="optional"/>
        <xs:attribute type="xs:string" name="hideWhen" use="optional"/>
        <xs:attribute type="xs:string" name="multiline" use="optional"/>
        <xs:attribute type="xs:string" name="style" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tabType">
    <xs:sequence>
      <xs:element type="compositeType" name="composite"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="title" use="optional"/>
  </xs:complexType>
  <xs:complexType name="yesNoRadioType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property"/>
        <xs:attribute type="xs:string" name="template"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="editorType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="entity"/>
      <xs:element type="xs:string" name="script" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="templatesType" name="templates"/>
      <xs:element type="layoutType" name="layout">
        <xs:annotation>
          <xs:documentation>The layout</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compositeType">
    <xs:sequence>
      <xs:element type="groupType" name="group"  maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="textType" name="text" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="layout" use="optional"/>
    <xs:attribute type="xs:string" name="cols" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
  </xs:complexType>
</xs:schema>
